allow / verify embedded CSS in SVG

When using svgcheck on an SVG file that contains embedded CSS, it emits the following error message:

    1.svg:9: The element 'style' is not allowed as a child of 'svg'
    INFO: File conforms to SVG requirements.

I think this is a contradiction: When 'style' is not allowed, then the file also does not conform to the SVG requirements, right?

Furthermore it would be great when svgcheck also would be able to verify the embedded CSS.

As per [RFC7996 Section 2.1](https://www.rfc-editor.org/rfc/rfc7996.html#section-2.1) `style` is not in the list of allowed elements for SVG 1.2 RFC.

This is probably something that should be discussed in [RSWG](https://datatracker.ietf.org/group/rswg/about/) mailing list.

Sorry, I wasn't aware that this *svgcheck* tool only checks features defined in the mentioned RFC (SVG profile "SVG 1.2 RFC").

> When 'style' is not allowed, then the file also does not conform to the SVG requirements, right?

The spurious "`INFO: File conforms to SVG requirements.`" message was caused by a bug: https://github.com/ietf-tools/svgcheck/issues/70, which has since been fixed: https://github.com/ietf-tools/svgcheck/pull/72

svgcheck will now correctly display "`ERROR: File does not conform to SVG requirements`" when checking a file that contains a `style` element.

